*,
*::after,
::before {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  /* 62.5% of 16px =10px */
  font-size: 62.5%;
}
body {
  font-family: "DM Sans", sans-serif;
  font-size: 2.4rem;
  line-height: 1.9;
}
h1,
h2,
h3 {
  color: var(--font-color);
  margin-bottom: 1rem;
  line-height: 1.1;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
}
#timer {
  justify-content: center;
}

h3 {
  color: #182a42;
  text-align: center;
  font-size: 16px;
}
h4 {
  font-size: 15px;
  color: #347b1d;
  text-align: center;
}
.container {
  height: 500px;
  width: 700px;
  background-color: #f3f3f3;
  margin-top: 10rem;
}
.container h3 {
  margin-top: 2rem;
  font-size: 20px;
}
.container h4 {
  font-size: 14px;
  margin-top: 0rem;
}
.container p {
  font-size: 14px;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: center;
}
.contain-box h3 {
  margin-top: 5rem;
}
.random-btn {
  border-radius: 10px;
  margin-left: 27.5rem;
  font-size: 16px;
  padding: 6px 15px;
  font-weight: 400;
  letter-spacing: 1.2px;
  background: #f3f3f3;
  border: 3px solid #000033;
  box-shadow: 0 10px 10px #f3f3f3;
  cursor: pointer;
  height: 40px;
  width: 150px;
}
.btn:hover {
  color: #315fad;
  opacity: 1;
  transition: 0.3s;
}

.btn-box-1 {
  background: #f3f3f3;
  color: #202123;
  font-weight: 500;
  font-size: 18px;
  width: 50px;
  height: 10px;
}
/* .box {
  display: flex;
  justify-content: center;
} */
#timer a {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.picture {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  margin-left: 27rem;
}
.picture img {
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 2rem;
  border: 2px solid #000033;
}
.icon {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.icon button {
  justify-content: center;
  width: 10%;
  border: 0px;
  background-color: #f3f3f3;
}
.icon i {
  font-size: 20px;
}
.buttons {
  display: flex;
  width: 15%;
  justify-content: space-around;
  margin: 20px auto;
}

.buttons button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 30px;
}

.buttons button:hover {
  opacity: 0.7;
}
